body {
    font-family: Lato, sans-serif;
}

.ch-popover {
    &-wrapper {
        display: block;
        position: relative;
        margin: 5px 0;
        box-sizing: border-box;

        &>.nav-search-input {
            margin: 0;
        }
    }
}

.ch-autocomplete {
    &-multiple {
        border: 0; //1px solid #999
        padding: 10px 0;
        overflow: visible;
        margin: 0;
        background-color: #fff;

        & > input[type=text] {
            display: none;
        }

        .ch-popover {
            position: relative !important;
            //top: 10px !important;
        }
    }

    &-choices {
        padding: 0 12px 11px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
    }

    &-choices,
    &-choices-all {
        overflow: auto;
    }

    &-choices,
    &-choices-all,
    &-search-input[type=text] {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3333;
    }

    &-choices-all {
        background-color: rgba(0, 0, 0, .45);
        border-radius: 0 0 5px 5px;
        padding: 0 15px 12px;
        margin: 12px 0 0;
    }

    &-choices--empty {
        .ch-autocomplete-search-field,
        .ch-autocomplete-search-input {
            width: 100%;
        }
    }

    &-item,
    &-item--not-found {
        padding: 3px 16px 4px;
    }

    &-item--not-found {
        font-weight: 300;

        & > strong {
            font-weight: 400;
        }
    }

    &-filter,
    &-choice,
    &-search-field,
    &-choices-summary,
    &-remove-all {
        float: left;

        margin-top: -4px;

        .reveal-search & {
            margin-top: 5px;
        }
    }

    &-filter {
        padding: 3px 5px 4px;

        & > span {
            &:after {
                content: '>';
                display: inline-block;
                margin-left: 5px;
            }
        }

        & + .ch-autocomplete-filter {
            margin-left: -5px;
        }
    }

    &-choice {
        border: 1px solid #ededed;
        background-color: #fff;
        border-radius: 4px;
        padding: 2px 5px 3px;
        margin-right: 5px;
        cursor: default;
    }

    &-choices-summary {
        padding: 3px 5px 4px;
        cursor: pointer;
    }

    &-search-input[type=text],
    &-search-input[type=text]:focus {
        border: 0;
        padding: 3px 5px 4px;
        margin: 0;
        box-sizing: border-box;
        min-width: 2em;
    }

    &-search-input::-moz-placeholder {
        opacity: 0;
    }

    &-search-input::-webkit-input-placeholder {
        opacity: 0;
    }

    &-choices--empty {
        .ch-autocomplete-search-input::-moz-placeholder {
            opacity: 1;
        }

        .ch-autocomplete-search-input::-webkit-input-placeholder {
            opacity: 1;
        }
    }

    &-choice-remove {
        display: inline-block;
        width: 14px;
        height: 14px;
        position: relative;
        cursor: pointer;
        margin-left: 4px;

        &:hover {
            text-decoration: none;
        }

        &:before,
        &:after {
            content: '';
            display: inline-block;
            width: 13px;
            height: 1px;
            background-color: #979797;
            position: absolute;
            top: 8px;
            left: 0;
        }

        // Use content: '\2715' or '/2573' for browsers with no transform support
        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &-remove-all {
        padding: 3px 5px 4px;
        color: #DCDDE0;
        cursor: pointer;
    }
}


.nav-search-content>select {
    max-width: 175px;
}

.ch-btn,
.ch-btn:focus,
.ch-btn:hover {
    background-image: none !important;
}
